.blog {

  .rectangle {
    content: '';
    position: fixed;
    bottom: -200px;
    left: -150px;
    transform: rotate(30deg);
    width: 500px;
    height: 500px;
    border-radius: 10%;
    background-color: var(--main-secondary-color);
    z-index: 0;
    pointer-events: none; // to enable scrolling of underlying element 
  }

  .triangle {
    position: fixed;
    right: 100px;
    bottom: 250px;
    border: 80px solid transparent;
    border-bottom: 120px solid var(--main-secondary-color);
    transform: rotate(-40deg);
    z-index: 0;
    pointer-events: none; // to enable scrolling of underlying element 
  }

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    z-index: 3;
    
    h2 {
      margin: 0 !important;
      font-family: 'Lato';
      margin-right: 20px !important;
    }

    .search {
      height: 40px;
      flex: 1;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      @media (max-width: 780px) {
        justify-content: right;
      }

      .left {
        @media (max-width: 780px) {
          display: none;
        }

        display: flex;

        .tag {
          margin: 0 5px;
          font-size: 12px;
          background-color: white;
          color: #6b6b6b;
          padding: 2px 5px;
          border: 2px solid #6b6b6b;
          border-radius: 20px;
        }

        .tag:hover {
          cursor: pointer;
        }

        .tag.active {
          background-image: linear-gradient(to right, #fcffd5, #f9ffbc, #f5ffa2, #f0ff88, #ebff6b);
          color: #565718;
        }
      }

      .right {
        display: flex;
        align-items: center;
        
        * {
          margin: 0 10px;
        }

        input {
          border: 0px solid transparent;
          border-bottom: 2px solid #6b6b6b;
          
          @media (max-width: 500px) {
            width: 6rem;
          }
        }

        input:focus {
          outline: none;        
        }
      }
    }
  }

  .posts {
    margin-top: 3rem;

    .post {
      height: 150px;
      padding: 0;
      margin-bottom: 20px;
      box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
      border-radius: 10px;
      border: none;
      background-color: rgba(255,255,255,0.8);
      z-index: 3;
      
      img {
        height: 100%;
        width: 25vw;
        margin-right: 10px;
        object-fit: cover;
        float: left;
        border-radius: 10px 0 0 10px;
      }

      .post_info {
        padding: 10px;

        h3 {
          font-family: 'Lato';
          color: #000;
          padding: 0;
          margin: 0;
          font-size: 24px;
          height: 60px;
          max-height: 60px;
          overflow: hidden;
        }
        
        .subset {
          max-height: 80px;
          overflow: hidden;
          
          small {
            font-size: 16px;
            color: black !important;
          }
          
          p {
            margin: 0;
            font-size: 14px;
            color: #575757;
          }
        }
      }
    }
  }
}