//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "bootstrap/dist/css/bootstrap.css";
@import "highlight.js/styles/idea.css";

:root {
  --main-bg-color: #F7FFCE;
  --main-secondary-color: #F6FA84;
  --text-secondary-color: #6e6e6e;
  --brownish-color: #98956D;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../public/assets/fonts/Lato-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/assets/fonts/Lato-Italic.ttf');
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Segoe UI', sans-serif;
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
}

::selection {
  background: #F6FA84;
}

.warning {
  font-size: 30px;
  text-align: center;
  padding-top: 20%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: black;
}

/* Buttons */
.button {
  background-color: #fff;
  color: var(--brownish-color);
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 2px solid var(--brownish-color);
  border-radius: 50px;
  transition: 0.3s;
  
  &.inverse {
  background-color: var(--brownish-color);
  color: #fff;
  }

  &:hover {
    background-color: var(--brownish-color);
    color: #fff;
  }

  &.inverse:hover {
    background-color: #fff;
    color: var(--brownish-color);
  }
}

/* Loading screen */
.loading {
  z-index: 10000;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: visibility 0s 0.3s, opacity 0.3s linear;

    .ball{
      *{
        animation: none;
      }
    }
  }

  .overlay {
    background-color: var(--main-bg-color);
    opacity: 1;
  }

  .ball {
    position: fixed;
    display: flex;

    @keyframes leftball {
      0% { transform: translateX(0); z-index: 2; }
      49.99% { transform: translateX(50px); z-index: 2; }
      50% { transform: translateX(50px); z-index: 1;}
      100% { transform: translateX(0); z-index: 1;}
    }

    @keyframes rightball {
      0% { transform: translateX(0px);}
      50% { transform: translateX(-50px);}
      100% { transform: translateX(0px);}
    }
    
    .left {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(244, 247, 67);
      animation: 0.8s linear infinite leftball;
      animation-delay: 0s;
    }

    .right {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(167, 168, 68);
      z-index: 1;
      animation: 0.8s linear infinite rightball;
      animation-delay: 0s;
    }
  }
}